<!doctype html>
<html lang="en">
  <%- include('includes/head'); %>
  <body>
    <%- include('includes/nav'); %>
    <!-- <% if (typeof user != 'undefined') { %>
      <h1>Hello, <%=  %></h1>
      <%} else { %>
        <h1>Hello, Guest </h1>
      <% } %> -->
      <h1>Hello</h1>
    <%- include('includes/footer'); %>
    </body>
</html>
