<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOG | Homepage</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
</head>
<body>
    <div id="page" class="site">
        <header>
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <ul class="flexitem main-links">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Featured Products</a></li>
                                <li><a href="#">Wishlist</a></li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="flexitem">
                                <li class="main-links">
                                    <li><a href="#">Sign Up</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">USD<span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>
                                        <ul>
                                            <li class="current"><a href="#">USD</a></li>
                                            <li><a href="#">EURO</a></li>
                                            <li><a href="#">GBP</a></li>
                                            <li><a href="#">IDR</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">English<span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>
                                        <ul>
                                            <li class="current"><a href="#">English</a></li>
                                            <li><a href="#">German</a></li>
                                            <li><a href="#">Spanish</a></li>
                                            <li><a href="#">Bahasa</a></li>
                                        </ul>
                                    </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left">
                            <div class="logo"><a href="#"><span class="circle"></span>Store</a>
                                <nav class="mobile-hide">
                                    <ul class="flexitem second-links">
                                        <li><a href="# ">Home</a></li>
                                        <li><a href="# ">Shop</a></li>
                                        <li>
                                            <a href="# ">Gadgets
                                                <div class="icon-small"><i class="ri-arrow-down-s-line"></i>
                                            </a>
                                            <div class="mega">
                                                <div class="container">
                                                    <div class="wrapper">
                                                        <div class="flexcol">
                                                            <div class="row">
                                                                <h4>Smart Phones</h4>
                                                                <ul>
                                                                    <li><a href="#">Apple</a></li>
                                                                    <li><a href="#">Samsung</a></li>
                                                                    <li><a href="#">Sony</a></li>
                                                                    <li><a href="#">Vivo</a></li>
                                                                    <li><a href="#">Oppo</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="flexcol">
                                                            <div class="row">
                                                                <h4>Smart Watches</h4>
                                                                <ul>
                                                                    <li><a href="#">Apple</a></li>
                                                                    <li><a href="#">Samsung</a></li>
                                                                    <li><a href="#">Diesel</a></li>
                                                                    <li><a href="#">Fastrack</a></li>
                                                                    <li><a href="#">Rolex</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="flexcol">
                                                            <div class="row">
                                                                <h4>Speakers</h4>
                                                                <ul>
                                                                    <li><a href="#">JBL</a></li>
                                                                    <li><a href="#">Sony</a></li>
                                                                    <li><a href="#">Bose</a></li>
                                                                    <li><a href="#">Sonos</a></li>
                                                                    <li><a href="#">Harman</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="flexcol">
                                                            <div class="row">
                                                                <h4>Cameras</h4>
                                                                <ul>
                                                                    <li><a href="#">FujiFilm</a></li>
                                                                    <li><a href="#">Sony</a></li>
                                                                    <li><a href="#">Canon</a></li>
                                                                    <li><a href="#">Panasonic</a></li>
                                                                    <li><a href="#">GoPro</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="flexcol">
                                                            <div class="row">
                                                                <h4>Smart Home Devices</h4>
                                                                <ul>
                                                                    <li><a href="#">Nest Can Outdoor</a></li>
                                                                    <li><a href="#">Amazon Echo Dot</a></li>
                                                                    <li><a href="#">Galaxy Smart Lock</a></li>
                                                                    <li><a href="#">Ezviz</a></li>
                                                                    <li><a href="#">Arlo</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="flexcol">
                                                            <div class="row">
                                                                <h4></h4>
                                                                <ul>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="flexcol">
                                                            <div class="row">
                                                                <h4></h4>
                                                                <ul>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="flexcol">
                                                            <div class="row">
                                                                <h4></h4>
                                                                <ul>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="flexcol">
                                                            <div class="row">
                                                                <h4></h4>
                                                                <ul>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="right">
                            <il class="flexitem second links">
                                <li class="mobile-hide"><a hr ef="#">
                                    <div class="icon-target"><i class="ri heart line"></i></div>
                                    <div class="fly item"><span class="item number">0</span></div>
                                </a></li>
                                <li><a href="#" class="iscart">
                                    <div class="icon-large">
                                        <i class="ri-shopping-cart-line"></i>
                                        <div class="fly item"><span class="item number">0</span></div>
                                    </div>
                                    <div class="icon-text">
                                        <div class="mini-text">Total</div>
                                        <div class="cart-total">$0.00</div>
                                    </div>
                                </a></li>
                            </il>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="slider">
                <div class="container">
                    <div class="wrapper">
                        <div class="mySlider">
                            <div class="wrapper">
                                <div class="slide">
                                    <div class="item">
                                        <div class="image object-cover">
                                            <img src="/views/assets/slider/slider0.jpg" alt="">
                                        </div>
                                        <div class="text-content flexcol">
                                            <h4>Gadgets of Galaxy</h4>
                                            <h2><span>Come and Get it!</span><br><span>Brand New Gadgets</span>
                                            </h2>
                                            <a href="" class="primary-button"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer>

        </footer>
    </div>
    <script src="./script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</body>
</html>
